!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PictorMagz
	%link{:href => "https://fonts.googleapis.com/css?family=Raleway:400,500,300", :rel => "stylesheet", :type => "text/css"}
	%link{:href => "https://cdn.jsdelivr.net/instantsearch.js/1.5.0/instantsearch.min.css", :rel => "stylesheet", :type => "text/css"}
	%link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}
    
  %body
	.search-wrapper
	  #search-box
	  #hits-container
	  #pagination-container
	 #player
	%script{:src => "https://cdn.jsdelivr.net/instantsearch.js/1.5.0/instantsearch.min.js"}
	%script{:src => "javascript/player.js"}
	%script{:src => "javascript/search.js"}